@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --background-darker-rgb: 32, 32, 32;
  --accent-rgb: 52, 255, 185;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 40, 40, 40;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Basic styles for navbar */
.navbar {
  display: flex;
  position: relative;
  width: 100%;
  background-color: rgb(var(--background-darker-rgb));
  color: rgb(255, 255, 255);
  justify-content: flex-end;
  box-shadow: 0 0 5px rgba(0,0,0,1); /* Optional shadow for better visibility */
}

.navbar-element {
  display: flex;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding: 10px;
}

.navbar-element:hover {
  color: rgb(var(--accent-rgb)); /* Adjust to the desired hover color */
}

.navbar-slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px; /* Adjust height as needed */
  background: linear-gradient(to right, transparent 5%, rgba(var(--accent-rgb), 0.5) 30%, rgba(var(--accent-rgb), 1) 50%, rgba(var(--accent-rgb), 0.5) 70%, transparent 95%);
  transition: transform 0.3s ease, width 0.3s ease; /* Smooth transitions */
}

.navbar-vertical {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: fit-content; /* Adjust width as needed */
  height: auto; /* Full height */
  background-color: rgb(var(--background-darker-rgb));
  z-index: 1000; /* Ensure it is above other content */
}

.navbar-element-vertical {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px; /* Adjust as needed */
  position: relative;
}

.navbar-element-vertical:hover {
  color: rgb(var(--accent-rgb)); /* Adjust to the desired hover color */
}

.navbar-slider-vertical {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px; /* Adjust width as needed */
  background: linear-gradient(to bottom, transparent 5%, rgba(var(--accent-rgb), 0.5) 30%, rgba(var(--accent-rgb), 1) 50%, rgba(var(--accent-rgb), 0.5) 70%, transparent 95%);
  transition: transform 0.3s ease, height 0.3s ease; /* Smooth transitions */
}